body {
	background-color: #16112A;
	overflow-x: hidden;
}

#fight {
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arena {
	height: 576px;
	width: 1024px;
	border: 10px solid gray;
	position: relative;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
}


#info {
	color: white;
	position: relative;
	left: 100px;
}

p {
	position: relative;
	left: 50px;
}



